@font-face {
    font-family: 'Cabin';
    src: url('../fonts/Cabin/Cabin-Regular.ttf');
}

@font-face {
    font-family: 'Herr Von Muellerhoff';
    src: url('../fonts/Herr_Von_Muellerhoff/HerrVonMuellerhoff-Regular.ttf');

}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}


