@import url(../css/fonts.css);
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Font */
/* Color */
/* Main Style */
html, body {
  font-family: "Cabin", sans-serif;
  font-size: 10px;
  color: #515151;
  scroll-behavior: smooth;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: auto;
  padding: 0 2.4rem;
}

section {
  padding: 7.9rem;
}

/* Header */
header {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  padding-top: 1.9rem;
  z-index: 1500;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  height: 100vh;
  background-color: #252525;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
  transform: translateX(-150%);
  transition: 0.5s;
}
header nav .nav-list .nav-item a {
  color: #fff;
  font-size: 1.5rem;
  padding: 0 1.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.4s;
}
header nav .nav-list .nav-item a:hover {
  color: #c59d5f;
}
header nav .menu-toggle {
  position: absolute;
  right: 2.5rem;
  color: #fff;
  font-size: 2rem;
}
header nav .menu-toggle .fa-times {
  display: none;
}

.active {
  position: relative;
}
.active:before {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  background-color: #fff;
  left: 17px;
  bottom: -3px;
}

.open .nav-list {
  transform: translateX(0);
}
.open .fa-times {
  display: block !important;
}
.open .fa-bars {
  display: none;
}

/* Hero */
.hero {
  background: url("../img/hero.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}
.hero .animate-fadeUp {
  animation: fadeUp 0.5s forwards;
  animation-delay: 0.5s;
  opacity: 0;
}
.hero .animate-scale {
  opacity: 0;
  animation: scale 0.5s forwards;
}
.hero .animate-grow {
  opacity: 0;
  animation: grow 2s forwards;
  animation-delay: 0.9s;
}

.sub-headline {
  font-size: 8.8rem;
  font-family: "Herr Von Muellerhoff", cursive;
  font-weight: 100;
  line-height: 0.4;
  letter-spacing: 2px;
  color: #c59d5f;
}
.sub-headline .first-letter {
  font-size: 10rem;
  text-transform: uppercase;
}

.headline {
  color: #fff;
  font-size: 3.7rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
}

.headline-description .separator .line-right:before, .headline-description .separator .line-left:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0.6rem solid transparent;
}

.headline-description .separator {
  display: flex;
  align-items: center;
  justify-content: center;
}
.headline-description .separator .line {
  width: 85px;
  max-width: 8.4rem;
  height: 0.25rem;
  background-color: #fff;
  position: relative;
}
.headline-description .separator .line-left:before {
  border-left-color: #fff;
  left: 0;
}
.headline-description .separator .line-right:before {
  border-right-color: #fff;
  right: 0;
}
.headline-description .separator .asterisk {
  font-size: 1.2rem;
  color: #c59d5f;
  padding: 0 1.6rem;
  opacity: 0;
  animation: spin 0.5s forwards;
  animation-delay: 0.9s;
}

.single-animation {
  animation: fadeDown 0.5s forwards;
  animation-delay: 1.5s;
  opacity: 0;
}
.single-animation h5 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  letter-spacing: 3px;
}
.single-animation .btn-cta {
  display: inline-block;
  font-size: 1.1rem;
  background-color: #fff;
  padding: 1rem 1.8rem;
  border-radius: 0.4rem;
  color: #515151;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: background-color 0.5s;
}
.single-animation .btn-cta:hover {
  background-color: #c59d5f;
  color: #fff;
}

/* Discover-our-story */
.body-cta {
  font-size: 1.5rem;
  color: #c59d5f;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.5s;
  position: relative;
}
.body-cta:hover {
  color: #515151;
}

/* Tasteful */
.between {
  background: url("../img/tasteful-recipes.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 65vh;
  display: flex;
  text-align: center;
}

/* Discover Our Menu */
.restaurant-info .image-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.restaurant-description {
  margin-top: 7.9rem;
  text-align: center;
}
.restaurant-description .headline {
  color: #252525;
}
.restaurant-description p {
  margin-bottom: 2.4rem;
}
.restaurant-description .asterisk {
  font-size: 1.2rem;
  margin: 2.4rem 0;
}

/* The perfect blend */
.perfect-blend {
  background: url("../img/perfect-blend.jpg") no-repeat center;
  background-size: cover;
}

/* Culinary Delight  */
.culinary-delight .restaurant-description {
  margin-top: 0;
  margin-bottom: 3.9rem;
}
.culinary-delight .asterisk {
  font-size: 1.2rem;
  margin: 2.4rem 0;
}

/* Footer */
footer {
  background-color: #121212;
  padding: 7.9rem !important;
  color: #fff;
  text-align: center;
  position: relative;
}
footer h4 {
  font-size: 1.9rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 3rem;
  font-weight: 100;
}
footer .back-to-top {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: absolute;
  top: -2.5rem;
  right: 50%;
  transform: translateX(50%);
  background-color: #121212;
}
footer .back-to-top a i {
  color: #fff;
  font-size: 2rem;
  display: inline-block;
  padding: 2rem;
}
footer .footer-content-about {
  max-width: 51rem;
  margin: 0 auto 5.4rem;
}
footer .footer-content-about .asterisk {
  font-size: 1.2rem;
  color: #c59d5f;
  margin: 2.4rem 0;
}
footer .footer-content-about p {
  line-height: 2;
}
footer .footer-content-divider {
  display: flex;
  justify-content: space-around;
}
footer .footer-content-divider .social-media h4 {
  font-size: 1.9rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 100;
  margin-bottom: 3rem;
}
footer .footer-content-divider .social-media .social-icon {
  list-style: none;
  display: flex;
}
footer .footer-content-divider .social-media .social-icon li a i {
  color: #fff;
  opacity: 0.5;
  padding: 0.8rem 2rem;
  font-size: 2rem;
}
footer .footer-content-divider .newsletter-container {
  max-width: 27.3rem;
  width: 100%;
}
footer .footer-content-divider .newsletter-container .newsletter-form {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
footer .footer-content-divider .newsletter-container .newsletter-form .newsletter-input {
  max-width: 25rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
}
footer .footer-content-divider .newsletter-container .newsletter-form .newsletter-btn {
  position: absolute;
  top: 0;
  margin-left: 10.5rem;
  transform: translateY(50%);
  background-color: transparent;
  padding: 1px 1.6rem;
  font-size: 1.6rem;
  color: #252525;
  border: none;
  cursor: pointer;
}

/* Animation */
@keyframes fadeUp {
  0% {
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes scale {
  0% {
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    opacity: 1;
    transform: rotate(-360deg);
  }
}
@keyframes fadeDown {
  0% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Media Query */
@media (min-width: 900px) {
  header nav .nav-list {
    transform: translateX(0);
    position: initial;
    width: auto;
    height: auto;
    justify-content: space-between;
    flex-direction: row;
    background-color: transparent;
  }
  header nav .menu-toggle {
    display: none;
  }

  .discover-our-story .restaurant-info {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .discover-our-story .restaurant-info > div {
    flex: 1;
  }
  .discover-our-story .restaurant-info .restaurant-description {
    padding-right: 7rem;
  }
  .discover-our-story .restaurant-info .restaurant-description .global-headline .headline {
    color: #252525;
  }
  .discover-our-story .restaurant-info .restaurant-description .global-headline .asterisk {
    margin: 2.4rem 0;
  }
  .discover-our-story .restaurant-info .restaurant-description p {
    line-height: 1.6;
    margin-bottom: 2.4rem;
  }
}
@media (max-width: 768px) {
  .discover-our-story .restaurant-description {
    margin-top: 0;
  }
  .discover-our-story .restaurant-description .body-cta {
    display: inline-block;
    margin-bottom: 2rem;
  }
  .discover-our-story .restaurant-description .asterisk {
    margin: 2.4rem 0;
  }
  .discover-our-story .global-headline {
    margin-top: 3.9rem;
  }

  .discover-our-menu .restaurant-description {
    margin-top: 7.9rem;
  }
  .discover-our-menu .restaurant-description .asterisk {
    margin: 2.4rem 0;
  }

  .headline {
    font-size: 3rem;
  }

  .sub-headline {
    font-size: 8rem;
  }

  section {
    padding: 3.9rem 0;
  }

  .culinary-delight .global-headline {
    margin-top: 3.9rem;
  }
}
@media (max-width: 568px) {
  footer {
    padding: 3.9rem 0 !important;
  }
  footer .footer-content {
    margin-top: 1rem;
  }
  footer .social-icon li a i {
    font-size: 1.5rem !important;
    padding: 0.5rem 1.2rem !important;
  }
  footer .social-media h4, footer .newsletter-container h4 {
    margin-bottom: 1.5rem !important;
    font-size: 1.5rem !important;
  }
  footer .newsletter-container {
    width: 45% !important;
  }
  footer .newsletter-container .newsletter-input {
    padding: 0.4rem !important;
  }
  footer .newsletter-container ::placeholder {
    font-size: 1rem;
  }
  footer .newsletter-container .newsletter-btn {
    margin-left: 7rem !important;
    transform: translateY(25%) !important;
  }
}
@media (max-width: 320px) {
  header .nav-item a {
    font-size: 1.2rem !important;
  }

  footer .social-icon li a i {
    font-size: 1.3rem !important;
    padding: 0.5rem 1.2rem !important;
  }
  footer .footer-content-divider h4 {
    margin-bottom: 1rem !important;
  }
  footer .newsletter-container {
    width: 40% !important;
  }
  footer .newsletter-container .newsletter-input {
    padding: 0.3rem !important;
  }
  footer .newsletter-container ::placeholder {
    font-size: 1rem;
  }
  footer .newsletter-container .newsletter-btn {
    margin-left: 5rem !important;
    transform: translateY(25%) !important;
  }
  footer .newsletter-container .newsletter-btn i {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
