*, *::before, *::after{
    padding: 0; margin: 0; box-sizing: border-box;
}

@import url(../css/fonts.css);

/* Font */
$main-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Herr Von Muellerhoff', cursive;
$body-font: 'Cabin', sans-serif;

/* Color */
$main-font-color-dark: #252525;
$secondary-font-color: #c59d5f;
$body-font-color: #515151;

/* Main Style */
html, body {
    font-family: $body-font;
    font-size: 10px;
    color: $body-font-color;
    scroll-behavior: smooth;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}

body { overflow-x: hidden; } 

img {
    width: 100%;
    max-width: 100%; // Why
}

a {
    text-decoration: none;
}

p {
    font-size: 1.6rem;
    line-height: 1.6;
}

.container {  // tim hieu them
    width: 100%;
    max-width: 122.5rem;
    margin: auto;
    padding: 0 2.4rem;
}

section {
    padding: 7.9rem;
}

/* Header */
header {
    width: 100%;
    height: auto;
    position: absolute; // chỉnh lại vitri khi có Hero section
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
    padding-top: 1.9rem;
    z-index: 1500;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-list {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 40%;
            height: 100vh;
            background-color: $main-font-color-dark;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            list-style: none;
            transform: translateX(-150%); 
            transition: .5s;
            .nav-item {
                a {
                    color: #fff;
                    font-size: 1.5rem;
                    padding: 0 1.7rem;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    transition: .4s;
                    &:hover {
                        color: $secondary-font-color;
                    }
                }
            }
        }
        .menu-toggle {
            position: absolute;
            right: 2.5rem;
            color: #fff;
            font-size: 2rem;
            .fa-times {
                display: none;
            }
        }
    }
}

.active {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 60%;
        height: 2px;
        background-color: #fff;
        left: 17px;
        bottom: -3px;
    }
}

.open {
    .nav-list {
        transform: translateX(0);
    }
    .fa-times {
        display: block !important;
    }
    .fa-bars {
        display: none;
    }
}

/* Hero */
.hero {
    background: url('../img/hero.jpg') center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;

    .animate-fadeUp {
        animation: fadeUp .5s forwards;
        animation-delay: .5s;
        opacity: 0;
    }

    .animate-scale {
        opacity: 0;
        animation: scale .5s forwards;
    }

    .animate-grow {
        opacity: 0;
        animation: grow 2s forwards;
        animation-delay: .9s;
    }
}

.sub-headline {
    font-size: 8.8rem;
    font-family: $secondary-font;
    font-weight: 100;
    line-height: .4;
    letter-spacing: 2px;
    color: $secondary-font-color;
    .first-letter {
        font-size: 10rem;
        text-transform: uppercase;
    }
}



.headline {
    color: #fff;
    font-size: 3.7rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: $main-font;
    font-weight: 900;
}

// extend for .line-left .line-right
%line-before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .6rem solid transparent;
}

.headline-description{
    .separator {
        display: flex;
        align-items: center;
        justify-content: center;
        .line {
            width: 85px;
            max-width: 8.4rem;
            height: 0.25rem;
            background-color: #fff;
            position: relative;
        }
        .line-left {
           &:before {
            @extend %line-before;
            border-left-color: #fff;
            left: 0;
           }
        }
        .line-right {
            &:before {
            @extend %line-before;
             border-right-color: #fff;
             right: 0;
            }
         }
         .asterisk {
            font-size: 1.2rem;
            color: $secondary-font-color;
            padding: 0 1.6rem;
            opacity: 0;
            animation: spin .5s forwards;
            animation-delay: .9s;
         }
    }
}

.single-animation {
    animation: fadeDown .5s forwards;
    animation-delay: 1.5s;
    opacity: 0;
    h5 {
        color: #fff;
        font-size: 1.4rem;
        font-weight: 100;
        text-transform: uppercase;
        margin-bottom: 1.2rem;
        letter-spacing: 3px;
        
    }
    .btn-cta {
        display: inline-block;
        font-size: 1.1rem;
        background-color: #fff;
        padding: 1rem 1.8rem;
        border-radius: .4rem;
        color: $body-font-color;
        text-transform: uppercase;
        letter-spacing: 3px;
        transition: background-color .5s;
        &:hover {
            background-color: $secondary-font-color;
            color: #fff;
        }
    }
}

/* Discover-our-story */
.body-cta {
    font-size: 1.5rem;
    color: $secondary-font-color;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color .5s;
    position: relative;
    &:hover {
        color: $body-font-color;
    }
}

/* Tasteful */
.between {
    background: url('../img/tasteful-recipes.jpg') center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 65vh;
    display: flex;
    text-align: center;
}

/* Discover Our Menu */
.restaurant-info {
    .image-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem
    }
}

.restaurant-description {
    margin-top: 7.9rem;
    text-align: center;
    .headline {
        color: $main-font-color-dark;
    }
    p {
        margin-bottom: 2.4rem;
    }
    .asterisk {
        font-size: 1.2rem;
        margin: 2.4rem 0;
    }
}

/* The perfect blend */
.perfect-blend {
    background: url('../img/perfect-blend.jpg') no-repeat center;
    background-size: cover;
}

/* Culinary Delight  */
.culinary-delight {
    .restaurant-description {
        margin-top: 0;
        margin-bottom: 3.9rem;
    }

    .asterisk {
        font-size: 1.2rem;
        margin: 2.4rem 0;
    }
}

/* Footer */
footer {
    background-color: #121212;
    padding: 7.9rem !important;
    color: #fff;
    text-align: center;
    position: relative;
    h4 {
        font-size: 1.9rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 3rem;
        font-weight: 100;
    }
    .back-to-top {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        position: absolute;
        top: -2.5rem;
        right: 50%;
        transform: translateX(50%);
        background-color: #121212;
        a {
            i {
                color: #fff;
                font-size: 2rem;
                display: inline-block;
                padding: 2rem;
            }
        }
    }
    .footer-content-about {
        max-width: 51rem;
        margin: 0 auto 5.4rem;
        .asterisk {
            font-size: 1.2rem;
            color: $secondary-font-color;
            margin: 2.4rem 0;
        }
        p {
            line-height: 2;
        }
    }
    .footer-content-divider {
        display: flex;
        justify-content: space-around;
        .social-media {
            h4 {
                font-size: 1.9rem;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-weight: 100;
                margin-bottom: 3rem;
            }
            .social-icon {
                list-style: none;
                display: flex;
                li a i {
                    color: #fff;
                    opacity: 0.5;
                    padding: 0.8rem 2rem;
                    font-size: 2rem;
                }
            }
        }
        .newsletter-container {
            max-width: 27.3rem;
            width: 100%;
            .newsletter-form{
                width: 100%;
                display: flex;
                justify-content: center;
                position: relative;
                .newsletter-input {
                    max-width: 25rem;
                    width: 100%;
                    padding: 1rem;
                    border-radius: .4rem;
                }
                .newsletter-btn {
                    position: absolute;
                    top: 0;
                    // left: 80%;
                    margin-left: 10.5rem;
                    transform: translateY(50%);
                    background-color: transparent;
                    padding: 1px 1.6rem;
                    font-size: 1.6rem;
                    color: $main-font-color-dark;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}

/* Animation */
@keyframes fadeUp {
    0% { transform: translateY(4rem); }
    100% { opacity: 1; transform: translateY(0rem); }
}

@keyframes scale {
    0% { transform: scale(2); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes grow {
    0% { width: 0; }
    100% { opacity: 1; width: 100%; }
}

@keyframes spin {
    0% { transform: rotate(0); }
    100% { opacity: 1; transform: rotate(-360deg); }
}

@keyframes fadeDown {
    0% { transform: translateY(-1rem); }
    100% { opacity: 1; transform: translateY(0); }
}



/* Media Query */
@media (min-width: 900px) {
    *{}
    header {
        nav {
            .nav-list {
                transform: translateX(0);
                position: initial; // static, hien dung vi tri theo nav style
                width: auto;
                height: auto;
                justify-content: space-between;
                flex-direction: row;
                background-color: transparent;
            }
            .menu-toggle {
                display: none;
            }
        }
    }
    
    .discover-our-story {
        .restaurant-info {
            display: flex;
            align-items: center;
            text-align: center;
            > div {
                flex: 1;
            }
            .restaurant-description {
                padding-right: 7rem;
                .global-headline {
                    .headline {
                        color: $main-font-color-dark;
                    }
                    .asterisk {
                        margin: 2.4rem 0;
                    }
                }
                p {
                    line-height: 1.6;
                    margin-bottom: 2.4rem;
                }
            }
        }
    }
}

@media (max-width: 768px){ 
    .discover-our-story {
        .restaurant-description {
            margin-top: 0;
            .body-cta {
                display: inline-block;
                margin-bottom: 2rem;
            }
            .asterisk {
                margin: 2.4rem 0;
            }
        }
        .global-headline {
            margin-top: 3.9rem;
        }
    }
    
    .discover-our-menu {
        .restaurant-description {
            margin-top: 7.9rem;
            .asterisk {
                margin: 2.4rem 0;
            }
        }
    }

    .headline {
        font-size: 3rem;
    }

    .sub-headline {
        font-size: 8rem;
    }

    section {
        padding: 3.9rem 0;
    }

    .culinary-delight {
        .global-headline {
            margin-top: 3.9rem;
        }
    }
}

@media (max-width: 568px) {
    footer {
        padding: 3.9rem 0 !important;
        .footer-content {
            margin-top: 1rem;
        }
        .social-icon {
            li a i {
                font-size: 1.5rem !important;
                padding: 0.5rem 1.2rem !important;
            }
        }
        .social-media, .newsletter-container {
            h4 {
                margin-bottom: 1.5rem !important;
                font-size: 1.5rem !important;
            }
        }

        .newsletter-container {
           width: 45% !important;
           .newsletter-input {
               padding: .4rem !important;
           }
           ::placeholder {
            font-size: 1rem;
            }
            .newsletter-btn {
                margin-left: 7rem !important;
                transform: translateY(25%) !important;
            }
        }
        
    }
}

@media (max-width: 320px) {
    header {
        .nav-item a {
            font-size: 1.2rem !important;
        }
    }


    footer {
        .social-icon li a i {
            font-size: 1.3rem !important;
            padding: .5rem 1.2rem !important;
        }

        .footer-content-divider {
            h4 {
                margin-bottom: 1rem !important;
            }
        }

        .newsletter-container {
            width: 40% !important;
            .newsletter-input {
                padding: .3rem !important;
            }
            ::placeholder {
             font-size: 1rem;
            }
             .newsletter-btn {
                 i {
                     font-size: 1.5rem;
                 }
                 margin-left: 5rem !important;
                 transform: translateY(25%) !important;
            }
        }
    }
}