*, *::before, *::after{
    padding: 0; margin: 0; box-sizing: border-box;
}

@import url(../css/fonts.css);

/* Font */
$main-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Herr Von Muellerhoff', cursive;
$body-font: 'Cabin', sans-serif;

/* Color */
$main-font-color-dark: #252525;
$secondary-font-color: #c59d5f;
$body-font-color: #515151;

/* Main Style */
html, body {
    font-family: $body-font;
    font-size: 10px;
    color: $body-font-color;
    scroll-behavior: smooth;
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    max-width: 100%; // Why
}

a {
    text-decoration: none;
}

p {
    font-size: 1.6rem;
}

.container {  // tim hieu them
    width: 100%;
    max-width: 122.5rem;
    margin: auto;
    padding: 0 2.4rem;
}

/* Header */
header {
    width: 100%;
    height: auto;
    position: absolute; // chỉnh lại vitri khi có Hero section
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
    padding-top: 1.9rem;
    z-index: 1500;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-list {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 40%;
            height: 100vh;
            background-color: $main-font-color-dark;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            list-style: none;
            transform: translateX(-150%); 
            transition: .5s;
            .nav-item {
                a {
                    color: #fff;
                    font-size: 1.5rem;
                    padding: 0 1.7rem;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    transition: .4s;
                    &:hover {
                        color: $secondary-font-color;
                    }
                }
            }
        }
        .menu-toggle {
            position: absolute;
            right: 2.5rem;
            color: #fff;
            font-size: 2rem;
            .fa-times {
                display: none;
            }
        }
    }
}

.active {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        width: 60%;
        height: 2px;
        background-color: #fff;
        left: 17px;
        bottom: -3px;
    }
}

.open {
    .nav-list {
        transform: translateX(0);
    }
    .fa-times {
        display: block !important;
    }
    .fa-bars {
        display: none;
    }
}

/* Hero */
.hero {
    background: url('../img/hero.jpg') center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    .container {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        // text-align: center; cai nao cung dc
        align-items: center;
        
    }
}

.sub-headline {
    font-size: 8.8rem;
    font-family: $secondary-font;
    font-weight: 100;
    line-height: .4;
    letter-spacing: 2px;
    color: $secondary-font-color;
    .first-letter {
        font-size: 10rem;
        text-transform: uppercase;
    }
}

// extend for .line-left .line-right
%line-before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .6rem solid transparent;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    .line {
        width: 85px;
        max-width: 8.4rem;
        height: 0.25rem;
        background-color: #fff;
        position: relative;
    }
    .line-left {
       &:before {
        @extend %line-before;
        border-left-color: #fff;
        left: 0;
       }
    }
    .line-right {
        &:before {
        @extend %line-before;
         border-right-color: #fff;
         right: 0;
        }
     }
     .asterisk {
        font-size: 1.2rem;
        color: $secondary-font-color;
        padding: 0 1.6rem;
     }
}
.headline {
    color: #fff;
    font-size: 3.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: $main-font;
    font-weight: 900;
}



/* Media Query */
@media (min-width: 900px) {
    *{}
    header {
        nav {
            .nav-list {
                transform: translateX(0);
                position: initial; // static, hien dung vi tri theo nav style
                width: auto;
                height: auto;
                justify-content: space-between;
                flex-direction: row;
                background-color: transparent;
            }
            .menu-toggle {
                display: none;
            }
        }
    }
}